.aboutSection{
    padding: 100px 80px;
    color: #fff;
    text-align: center;
    background-color: var(--background);
    overflow: visible;

}

.aboutContent{
    max-width: 1440px;
    margin: 100px auto;
}

.container{
    display:flex ;
    justify-content: space-between;
    align-items: center;
}

.textFrame {
  position:relative;
  left:15px;
  width: 51%;
  padding:35px;
  top:40px;
  background-image: url('/images/aboutSection.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.justText h1{
    position: relative;
    bottom:40px;
    right: 140px;
    font-size: 44px;
}

.justText p{
    font-size: 18px;
    position: relative;
    text-align: left;
    bottom:10px;
    margin-bottom: 20px;
    width: 80%;

}

.photoFrame{
    position: relative;
    top:15px;
    right: 25px;
    overflow: hidden;
    position: relative;
}

.highlightRed{
    color:#a80505 ;
    font-weight:bold ;
}

.scroll-section {
  opacity: 1;
  transition: opacity 2s ease;
}

.hidden {
  opacity: 0 !important;
  background-color: red !important;
}