.contactsSection {
  padding-top: 40px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  scroll-margin: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.content {
  width: 100%;
  max-width: 2000px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-size: 32px; 
  font-weight: 600;
  text-align: center; 
  margin: 0 auto 40px; 
  text-transform: uppercase; 
  width: 100%; 
  display: block; 
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.image {
  width: 100%;
  max-width: 320px;
  height: auto;
  display: block;
  margin: 0 auto 0 10px;
}

.info {
  width: 100%;
  text-align: center;
  margin-top: -130px; 
}

.name {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 12px; 
}

.role {
  font-size: 14px;
  margin-bottom: 12px; 
}

.mailWrapper,
.phoneWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 12px; 
}

.mailIcon,
.phoneIcon {
  margin: 5px;
}

.email,
.phoneDima,
.phoneYulya,
.phoneVika {
  font-size: 14px;
   color: #ffffff; 
}

@media (min-width: 768px) {
  .contactsSection {
    padding-top: 80px;
    padding-left: 40px;
  }

  .content {
    padding: 0 35px;
  }

  .title {
    font-size: 40px; 
    font-weight: 600; 
    margin-bottom: 70px; 
    margin-left: -55px; 
    text-transform: uppercase; 
    text-align: center;
  }

  .contacts {
    flex-direction: row;
    gap: 60px;
    justify-content: center;
  }

  .card {
    position: relative;
    max-width: 400px;
  }

  .image {
    max-width: 400px;
    margin: 0 auto;
  }

  .info {
    position: absolute;
    top: 570px; 
    right: 10px;
    max-width: 400px;
  }

  .name {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .role {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .mailWrapper {
    margin-left: 80px;
    margin-bottom: 10px;
    justify-content: flex-start;
  }

  .phoneWrapper {
    margin-left: 120px;
    margin-bottom: 10px;
    justify-content: flex-start;
  }
  .mailIcon{
    margin-top: 10px;
  }

  .email,
  .phoneDima,
  .phoneYulya,
  .phoneVika {
    font-size: 16px;
     color: #ffffff; 
  }
}