.contactsSection{
    padding-bottom:0px;
    padding-top: 80;
    padding-left: 40px;
    scroll-margin: 90px;
}

.content{
    max-width: 2000px;
    margin: 0 35px;
}

.container{
    position: relative;
}

.title{
    font-size:40px;
    font-weight: 550;
    text-align: center;
    margin-bottom: 70px;
    margin-left: -55px;
}

.contactsFrames{
    display: flex;
    flex-direction: row;
    gap:60px;
}
.Dima {
    position: relative; 
}
.Text{
    position:absolute;
    text-align: center;
    width: 100%;
    max-width: 400px;
    top:385px;
    right:10px;
}

.NameSurname{
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.WhoIs{
    font-size: 16px;
    margin-bottom: 10px;
}

.MailWrapper{
    display: flex;
    flex-direction: row;
    gap:5px;
    margin-left:80px;
    margin-bottom:10px;
}

.mail{
    margin:5px;
}

.PhoneWrapper{
    display: flex;
    flex-direction: row;
    gap:5px;
    margin-left:120px;
    margin-bottom:10px;
}

.phone{
    margin:5px;
}

.Yulya{
    position:relative;
}

.Vika{
    position:relative;
}
