@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Miniver&family=Orbitron:wght@400..900&family=Outfit:wght@100..900&family=Passion+One:wght@400;700;900&family=Petrona:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Tektur:wght@400..900&display=swap');
.heroSection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    min-height: calc(100vh - 60px);
    height: auto;
    overflow: visible;
    padding: 0 16px;
    position: relative;
    top: 0;
    padding-top: 121px;
}

.heroContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    min-height: calc(100vh - 120px);
    position: relative;
    z-index: 1;
     overflow-x: visible;
}

.heroText {
    flex: 1.5;
    text-align: left;
    padding: 1.5em;
    z-index: 2;
    position: relative;
    max-width: 45%;
    height: 170%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background-size: 100% 100%;
    margin-top: -30px; 
    margin-left:70px;
     overflow-x: visible;
}

.heroTitle {
    font-family: 'Tektur'; 
    font-size: 55px;
    font-weight: 300;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2;
     overflow-x: visible;
}

.heroQuote {
    font-family: 'Barlow', sans-serif;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 30px;
    position: relative;
}

.heroSubtitleContainer {
    display: flex;
    justify-content: left;
     overflow-x: visible;
}

.calendarIcon {
    position: relative;
    width: 30px; 
    height: auto;
    margin-right: 17px; 
    padding-bottom:15px;
    top: 27px;
    overflow-x: visible;
}

.heroSubtitle {
    position: relative;
    top:20px;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 0px;
    line-height: 1.1;
    font-weight: 200 ;
    font-family: 'Barlow', sans-serif ;
    overflow-x: visible;
}

.heroButton {
    display: inline-block;
    margin-top:60px;
    padding: 8px 12px;
    background-color: transparent;
    color: var(--foreground);
    text-decoration: none;
    font-size: clamp(1em, 2vw, 1.2em);
    z-index: 3;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    overflow-x: visible;
}

.heroButton:hover {
    transform: scale(1.05);
}

.heroButton::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    width: calc(100% + 8px);
    height: calc(100% + 4px);
    background-color: #a21616df;
    -webkit-clip-path: polygon(7% 0%, 92% 0%, 100% 30%, 100% 100%, 0% 100%, 0% 25%);
    clip-path: polygon(7% 0%, 92% 0%, 100% 30%, 100% 100%, 0% 100%, 0% 25%);
    border: 2px solid #850202;
    z-index: -1;
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), 
                box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), 
                background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform-origin: center;
    overflow-x: visible;
}

.heroButton:hover::before {
    background-color: #be0909;
    box-shadow: 0 0 5px 2px rgba(255, 0, 0, 0.3), 
                0 0 10px 4px rgba(255, 0, 0, 0.5), 
                0 0 15px 6px rgba(255, 0, 0, 0.7);
                overflow-x: visible;
}


.heroMask {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    overflow: visible;
    height: auto;
    width: 100%;
    opacity: 0.55;
    height:100%;
    overflow-x: visible;
}

.heroMaskImage {
    margin-right:100px;
    width: 90%;
    height: 125vh;
    object-fit: cover;
    position: absolute;
    top: -650px;
    right: -20%;
    z-index: 3000;
    overflow-x: visible;
}

.heroCode {
    position: absolute;
    left: 0;
    width: 57.4%;
    height: 120%;
    background: url('/images/kod.png') repeat-y left top;
    background-size: 100% 100%;
    z-index: 0;
    top: -150px;
    overflow: visible;
    opacity:0.8;
}


@media (max-width: 768px) {
  .heroSection {
    min-height: calc(100vh - 50px);
    padding: 40px 20px; /* Зменшив padding з боків для кращої адаптивності на малих екранах */
    display: flex; /* Додаємо Flexbox для вертикального центрування */
    flex-direction: column;
    justify-content: center; /* Вертикальне центрування */
    align-items: center; /* Горизонтальне центрування */
  }

  .heroContent {
    flex-direction: column;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center; 
    width: 100%; 
  }

  .heroText {
    flex: 1;
    max-width: 100%;
    padding: 16px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Горизонтальне центрування тексту та кнопок */
  }

  .heroTitle {
    font-size: 40px;
    text-align: center;
  }

  .heroSubtitle {
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
  }

  .heroQuote {
    font-size: 16px;
    text-align: center;
  }


  .heroButton {
    padding: 10px 20px;
    font-size: clamp(0.9em, 4vw, 1em);
    margin: 50px auto; /* Центруємо кнопку */
  }

  .heroCode {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url('/images/kod.png') repeat;
    background-size: cover;
    z-index: -1;
    top: -270px;
  }

  .heroMask {
    display: none !important;
  }

  .heroMaskImage {
    display: none !important;
  }
}