.fullBackground {
  background-image: url('/images/backgroundFormat.png');
  background-repeat: no-repeat;
  background-size: auto 215vh;
  background-position: right -400px;
  position: relative;
  width: 100%;
  min-height: 150vh;
  z-index: 0;
}

/* Мобільна версія (до 768px) */
@media (max-width: 768px) {
  .fullBackground {
    background-size: auto 100vh; /* Зменшуємо висоту фону */
    background-position: right -100px; /* Зміщуємо позицію для кращого відображення */
    min-height: 80vh; /* Зменшуємо мінімальну висоту */
  }
}