.fullBackground {
  background-image: url('/images/backgroundFormat.png');
  background-repeat: no-repeat;
  background-size: auto 215vh;
  background-position: right -400px;
  position: relative;
  width: 100%;
  min-height: 150vh;
  z-index: 0;
}

@media (max-width: 768px) {
  .fullBackground {
    background-size: auto 110vh;
    background-position: right -100px; 
    min-height: 80vh; 
  }
}