
.statsSection{
    position:relative;
    padding:100px 0;
    min-height: 500px;
    overflow: visible;
    scroll-margin-top: 150px;
}

.content{
    position: absolute;
    bottom: 50px;
    right:30%;
}
.container{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.statsImg {
  position: relative;  
  bottom:420px;
}

.statsItems {
  position: absolute;
  top:0%;
  left:52%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 160px;
  text-align: center;
}

.statIcon {
  margin-bottom: 10px;
}

.statsBack{
    position: relative;
    bottom:390px;
}

.title{
    position: absolute;
    bottom: 650px;
    right:200px;
    font-size: 39px;
}

.statItem span {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}