.statsSection {
  position: relative;
  padding: 50px 0;
  overflow: visible;
  scroll-margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statsBack {
  width: 100%;
  max-width: 230px;
  height: auto;
  object-fit: contain;
  transform: translateX(-50%);
  position: absolute;
  left: 8%;
  top: -15%;
}

.content {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.container {
    margin:0 70px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.statsImg {
  position: relative;
  bottom: 30px;
  width: 100%;
  max-width: 700px;
  height: auto;
}

.statsImage {
  width: 100%;
  height: auto;
}

.title {
  position: relative;
  bottom: 285px;
  left: 45px;
  font-size: 35px;
  color: #fff;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.statsItems {
  position: absolute;
  top:360px;
  left: 55%;
  transform: translateX(-50%); 
  display: flex;
  justify-content: center;
  gap: 250px;
}

.statItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statIcon {
  margin-bottom: 10px;
}

.statItem span {
  font-size: 18px;
  font-weight: 600;
}

.additionalContent {

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.frameWrapper {
  position: relative;
  left:90px;
}

.teamPhoto {
  margin-top:130px ;
  margin-bottom:50px;
  height: auto;
}

.statsText {
  position: absolute;
  top: 57%;
  left: 43%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  width: 80%;
  max-width: 600px;
}

.statsText h1 {
  position: relative;
  bottom:85px;
  right:20px;
  text-transform: uppercase;
  font-size: 38px;
  margin-bottom: 10px;
}

.statsText p {
  text-align: left;
  font-size: 22px;
  margin: 10px 0;
  position: relative; 
  top: -64px; 
}
