.statsSection {
  position: relative;
  padding: 20px 0;
  overflow: visible;
  scroll-margin-top: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.container {
  margin: 0 70px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statsImg {
  position: relative;
  bottom: 30px;
  width: 100%;
  max-width: 700px;
  height: auto;
  overflow-x: visible;
  right:40px;
}

.statsImage {
  width: 100%;
  height: auto;
}

.title {
  position: relative;
  bottom: 288px;
  left: 5px;
  font-size: 35px;
  color: #fff;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.statsItems {
  position: absolute;
  top: 360px;
  left: 55%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 250px;
}

.statItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconWrapper {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.statIcon {
  width: 50px;
  height: 50px;
}

.statItem span {
  font-size: 18px;
  font-weight: 600;
}

.statsItemsMobile {
  display: none;
}

.additionalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.frameWrapper {
  position: relative;
  left: 90px;
}

.teamPhoto {
  margin-top: 130px;
  margin-bottom: 50px;
  height: auto;
}

.statsText {
  position: absolute;
  top: 43%;
  left: 43%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  width: 80%;
  max-width: 600px;
  overflow-x: visible;
}

.statsText h1 {
  position: relative;
  bottom: 50px;
  right: 35px;
  text-transform: uppercase;
  font-size: 38px;
  margin-bottom: 10px;
}

.settingMobile{
  display:none;
}

.teamPhotoMobile{
  display: none;
}

.statsText p {
  text-align: left;
  font-size: 22px;
  position: relative;
  top: -20px;
  margin-top: 20px;
  left:-20px;
}

@keyframes glow {
  0% {
    border-color: rgb(149, 12, 12);
    box-shadow: 
      0 0 10px rgb(156, 5, 5),
      0 0 20px rgb(156, 5, 5),
      0 0 30px rgba(156, 5, 5, 0.5);
  }
  33% {
    border-color:rgb(205, 38, 38);
    box-shadow: 
      0 0 15px rgb(181, 16, 16),
      0 0 25px rgb(176, 26, 26),
      0 0 35px rgba(187, 22, 22, 0.756);
  }
  66% {
    border-color: rgb(187, 12, 12);
    box-shadow: 
      0 0 20px rgb(174, 13, 13),
      0 0 30px rgb(157, 14, 14),
      0 0 40px rgba(158, 3, 3, 0.741);
  }
  100% {
    border-color: rgb(149, 12, 12);
    box-shadow: 
      0 0 10px rgb(156, 5, 5),
      0 0 20px rgb(156, 5, 5),
      0 0 30px rgba(169, 5, 5, 0.635);
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0;
  }

  .title {
    position: static;
    font-size: 2rem;
    left: 0;
    bottom: 0;
  }

  .statsImg {
    display: none;
  }

  .statsItems {
    display: none;
  }

  .statsItemsMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .iconWrapper {
    width: 125px;
    height: 100px;
    animation: glow 3s ease-in-out infinite;
    border: 2px solid rgb(156, 5, 5);
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }

  .statIcon {
    width: 40px;
    height: 40px;
  }

  .statItem span {
    font-size: 1rem;
    color: #fff;
    margin-top: 0.3rem;
  }

  .settingMobile {
    display: block;
    position: absolute;
    top: 120px;
    right: -10px;
  }

  .settingMobileImage {
    width: 120%;
    height: 160%;
  }

  .teamPhoto {
    display: none;
  }

  .teamPhotoMobile {
    display: block;
    margin-top: 50px;
    width: 100%;
    max-width: 500px;
    height: auto;
    aspect-ratio: 5 / 4;
  }

  .statsText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9vw;
    max-width: 95vw;
    padding: 80px;
    text-align: center;
    color: #fff;
    overflow-x: auto;
    box-sizing: border-box;
    overflow-y: hidden;
    min-height: 250px;
  }

  .statsText h1 {
    font-size: clamp(1.2rem, 4vw, 1.5rem);
    margin-bottom: 10px;
    position: relative;
    top: 50px;
    right: 0;
  }

  .statsText p {
    font-size: clamp(0.7rem, 2.5vw, 0.8rem);
    margin-top: 10px;
    padding-left: 20px;
    text-align: left;
    position: relative;
    top: 67px;
    left:2px;
  }

  .statsText p::before {
    content: '';
    position: absolute;
    left: 30px;
    top: 4px;
    width: 5px;
    height: 5px;
    background-color: rgb(156, 5, 5);
  }

  .additionalContent {
    margin-top: 30px;
  }

  .frameWrapper {
    left: 0;
    width: 100%;
    position: relative;
  }

  @media (max-width: 480px) {
    .statsText {
      width: 85vw;
      max-width: 85vw;
      padding: 15px;
    }

    .statsText h1 {
      font-size: clamp(1rem, 3.5vw, 1.3rem);
    }

    .statsText p {
      font-size: clamp(0.6rem, 2.2vw, 0.7rem);
      padding-left: 15px;
    }

    .statsText p::before {
      width: 4px;
      height: 4px;
      top: 3px;
      left: 0;
    }

    .teamPhotoMobile {
      max-width: 90vw;
    }
  }
}